@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.main-template-LpEducacao {
  width: 100%;
  min-height: 500px;
  height: max-content;
  background-image: url(../../../../images/aqui.png);
  /* https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Biblioteca-montserrat.jpg/1200px-Biblioteca-montserrat.jpg */
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}
.div-lp-educacao {
  width: 100%;
  height: max-content;
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-logo-empresa {
  height: 90px;
}
.div-cabecalho-lp-educacao {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 0;
}
.div-cabecalho-lp-educacao-apresentacao {
  background-color: #00688867;
  width: 40vw;
  max-width: 590px;
  height: 16rem;
  padding: 0 1rem 10px 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #232323;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
.div-cabecalho-lp-educacao-apresentacao h2 {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  color: #f0f0f0;

  text-shadow: 0px 0px 7px rgb(0, 0, 0);
}
.subtitulo-apresentacao {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.911);
  padding: 0;
}
.paragrafo-apresentacao {
  font-size: 1rem;
  color: rgb(5, 5, 5);
  padding: 0;
  padding: 0 0 20px 0;
  font-weight: 400;
}

.div-cabecalho-lp-educacao-entrada-dados {
  background-color: #1a3852;
  width: 33vw;
  max-width: 550px;
  height: max-content;
  border: solid 1px rgba(0, 0, 0, 0.346);
  box-shadow: 1px 1px 10px black;
  border-radius: 7px;
  padding: 0 0 0.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-textarea {
  border-radius: 7px 7px 0 0;
  background-color: #006988;
  width: 100%;
}
.div-cabecalho-lp-educacao-entrada-dados textarea {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 100%;
  height: max-content;
  text-align: center;
  padding: 15px 0 10px 0;
  resize: none;
  color: #f0f0f0;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.398);
  border-radius: 3px;
  overflow: hidden;
}
textarea {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 100%;
  height: max-content;
  text-align: center;
  padding: 15px 0 10px 0;
  resize: none;
  color: #f0f0f0;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.398);
  border-radius: 3px;
  overflow: hidden;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border: solid 1px rgba(0, 0, 0, 0.486);
}

.div-cabecalho-lp-educacao-entrada-dados textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border: solid 1px rgba(0, 0, 0, 0.486);
}
.div-engloba-textfield {
  /* background-color: red; */
  padding: 1.2rem 0.7rem;
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-engloba-textfield label {
  color: #f0f0f0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.398);
}
.div-engloba-div-input {
  height: 80px;
}
.div-engloba-textfield .div-engloba-div-input div {
  width: 100%;
  height: max-content;
}
.div-botao-adicionar-campo {
  width: 100%;
  display: flex;
}
.div-botao-adicionar-campo .BsPlusCircleFill {
  color: white;
  font-size: 25px;
}
.div-checkbox-consentimento {
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textarea-titulo {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 100%;
  height: 5rem;
  text-align: center;
  resize: none;
  color: #f0f0f0;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.398);
  border-radius: 3px;
  overflow: hidden;
}
