.header-LP{
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.div-titulo{
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.div-titulo h2{
  font-weight: 300;
  font-size: 28px;
}

.buttonHeader{
  height: 56px;
  width: 160px;
}
.divButtom-selecionado{
  background-color: rgb(255, 255, 255);
  color: #333333;
  border: none;
  height: 56px;
  width: 160px;
  border-bottom: solid 3px #F5845E;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
.noBorder{
  border: none !important; 
}
.div-botao-proximo{
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.MuiTabs-indicator{
  border-bottom: solid 2px #F5845E;
}
.div-titulo-edicao-layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-titulo-edicao-layout .BsPencil{
  margin-left: 10px;
  cursor: pointer;
}
.div-botao-voltar-layout{
  background-color: rgba(18, 9, 9, 0.144);
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  color: rgba(0, 0, 0, 0.418);
  font-size: 22px;
  margin-right: 5px;
}