.retornoLp{
 width: 100%;
 height: 25rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.div-existFalse{
  /* background-color: #286090; */
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100%;
}
.imageLP{
 width: 470px;
}
.div-existFalse h3{
 text-align: center;
 margin: 1rem 0 ;
}
@media screen and (max-width:600px) {
 .imageLP{
  width: 300px;
  
 }
 
}
.buttonExists{
}